# -----------------------------
# Liebherr API
# -----------------------------
LIEBHERR_API_URL=http://1.2.3.4:8080
LIEBHERR_API_TOKEN=
POLL_INTERVAL=60

# -----------------------------
# InfluxDB v2
# -----------------------------
INFLUX_URL=http://influxdb:8086
INFLUX_TOKEN=MYTOKEN
INFLUX_ORG=lh
INFLUX_BUCKET=fridge

# -----------------------------
# Exporter
# -----------------------------
EXPORT_CRON=0 3 1 * *
# monthly, quarterly, yearly, or all
EXPORT_FREQUENCY=monthly
EXPORT_EMAIL_FROM=fridge@example.com
EXPORT_EMAIL_TO=archive@example.com
SMTP_SERVER=mail.example.com
SMTP_PORT=587
SMTP_USERNAME=smtpuser
SMTP_PASSWORD=smtppass
